.mx-4 {
  margin: 0 4px;
}
.mx-8 {
  margin: 0 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx-auto {
  margin: 0 auto;
}

.mxr-auto {
  margin: 0 auto 0 0;
}

.mxl-auto {
  margin: 0 0 0 auto;
}

.max-w-full {
  width: 100%;
}

.center {
  text-align: center;
}
